<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="con.ConnectionString" value="data source=SERVER;integrated security=SSPI;persist security info=False;workstation id=DELL-4;packet size=4096"/>
    <add key="Zbank.Text" value="Zbank"/>
    <add key="ZCode.Text" value="Zcode"/>
    <add key="ZName.Text" value="Zone Name"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	  	  <add key="EncDUser" value="DMtKi3kFYiZt2CqZQjssyg==" />
	  <add key="EncDUserPass" value="hJb52QtK66vgPs6iDKI56W14qv2RMnDpxbvbWg9I/fM=" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>-->
