USE [DBBilling]
GO
/****** Object:  View [dbo].[vBillIntercity]    Script Date: 8/24/2026 3:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vBillIntercity]
AS

------------------------- Outward Clearing

select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,cyc_no as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN, 0 as RTN,0 as Fake,0 as HeadITEMs,count(*) as totalout,0 as totalin 
, CityCode AS CityCode from dbrtgs..ICCheques Where  cyc_no=11 
and citycode not in ('3040','4030')
and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' 
Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode

Union All


/* For  Intercity Clearing Returns*/
select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,cyc_no as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN, count(*) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
, CityCode AS CityCode from dbrtgs..ICCheques Where  return_cycle=13 
and citycode not in ('3040','4030')
and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode

Union All



select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,24 as Cycle,0 as STDOUT,
0 as NSTDOUT,0 as STDIN,0 as NSTDIN,0 as RTN,0 as Fake,0 as HeadITEMs,
count(*) as totalout,0 as totalin 
, CityCode AS CityCode from dbrtgs..ICCheques Where  cyc_no=11 and citycode in ('3040')
and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' 

Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode

Union All

select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,24 as Cycle,0 as STDOUT,
0 as NSTDOUT,0 as STDIN,0 as NSTDIN, count(*) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
, CityCode AS CityCode from dbrtgs..ICCheques Where  return_cycle=13 and citycode in ('3040')
and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' 
Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode

Union All


select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,24 as Cycle,0 as STDOUT,
0 as NSTDOUT,0 as STDIN,0 as NSTDIN,0 as RTN,0 as Fake,0 as HeadITEMs,
count(*) as totalout,0 as totalin 
, CityCode AS CityCode from dbrtgs..ICCheques Where  cyc_no=11 and citycode in ('4030')
and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' 
Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode

Union All

select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,24 as Cycle,0 as STDOUT,
0 as NSTDOUT,0 as STDIN,0 as NSTDIN, count(*) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
, CityCode AS CityCode from dbrtgs..ICCheques Where  return_cycle=13 and citycode in ('4030')
and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' 
Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode


Union All

--**** For Headers Count
Select h_Date,send_Bank,send_Branch,cyc_no,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN,0 as RTN,0 as Fake,isnull(count(headerid),0) as HeadItems,0 as TotalOut,0 as TotalIn  , CityCode AS CityCode from dbrtgs..ICHeaders
where  cyc_no=11 and citycode like (select cast(citycode as char(2)) as citycode from city) + '%'  Group by  h_Date,send_Bank,send_Branch,cyc_no ,CityCode


------------------------------ Inward Clearing
Union All

select h_Date as ProcessDate,pay_bank as Bank ,pay_branch as Branch,'12' as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN, 0 as RTN,0 as Fake,0 as HeadITEMs,count(*) as totalout,0 as totalin 
, CityCode AS CityCode from dbrtgs..ICCheques Where  cyc_no=11 and citycode like '%' + (select cast(citycode as char(2)) as citycode from city)  Group by  h_Date,pay_bank,pay_branch,cyc_no,CityCode
Union All


/* For  Intercity Clearing Returns*/
select h_Date as ProcessDate,pay_bank as Bank ,pay_branch as Branch,'12' as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN, count(*) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
, CityCode AS CityCode from dbrtgs..ICCheques Where  return_cycle=13 and citycode like '%' + (select cast(citycode as char(2)) as citycode from city)  Group by  h_Date,pay_bank,pay_branch,cyc_no,CityCode


GO
/****** Object:  View [dbo].[vBillExtractintercity]    Script Date: 8/24/2026 3:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vBillExtractintercity]
AS

--Query to Sum up the Data of Clearing Bill (vBillIntercity)
Select Processdate,bank,branch,cycle,isnull(sum(STDOUT),0) as STDOUT,
isnull(sum(NSTDOUT),0) as NSTDOUT,isnull(sum(STDIN),0) as STDIN,
isnull(sum(NSTDIN),0) as NSTDIN,isnull(sum(RTN),0) as RTN,isnull(sum(fake),0) as Fake,
isnull(sum(HeadItems),0) as HeadItems,isnull(sum(TotalOut),0) as TotalOut,
isnull(sum(TotalIn),0) as TotalIn
, CityCode AS CityCode from vBillIntercity Group by  Processdate,bank,branch,cycle,CityCode


GO
/****** Object:  View [dbo].[vbillreport]    Script Date: 8/24/2026 3:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[vbillreport]
AS


select h_Date,Send_Bank as Bank,Send_Branch as Branch,22 as cyc_no,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN,
isnull(count(*),0) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin 
, CityCode AS CityCode from dbrtgs..cheques 
Where cyc_no = 2 and return_cycle=4 
Group by  h_Date,Send_Bank,Send_Branch,cyc_no,CityCode


Union All

---------------------------- special outward return

select h_Date,Send_Bank as Bank,Send_Branch as Branch,23 as cyc_no,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN,
isnull(count(*),0) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin 
, CityCode AS CityCode from dbrtgs..cheques 
Where cyc_no in (2,31,32,33,34,35) and return_cycle in (4,41,42,43,44,45)
Group by  h_Date,Send_Bank,Send_Branch,cyc_no,CityCode


Union All

---------------------------- same day inward return

select h_Date,Pay_Bank as Bank,Pay_Branch as Branch,27 as cyc_no,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN,
isnull(count(*),0) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin 
, CityCode AS CityCode from dbrtgs..cheques 
Where cyc_no = 5 and return_cycle=7 
Group by  h_Date,Pay_Bank,Pay_Branch,cyc_no,CityCode


Union All
--------------------------- intercity inward clearing 

select h_Date as ProcessDate,pay_bank as Bank ,pay_branch as Branch,'25' as Cycle,0 as STDOUT,0 as NSTDOUT,
0 as STDIN,0 as NSTDIN, 0 as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,1 as totalin 
, CityCode AS CityCode from dbrtgs..ICCheques 
Where  cyc_no=11 and citycode like '%' + (select cast(citycode as char(2)) as citycode from city)  
Group by  h_Date,pay_bank,pay_branch,cyc_no,CityCode


Union All

--------------------------- intercity inward  return

select h_Date as ProcessDate,pay_bank as Bank ,pay_branch as Branch,'25' as Cycle,0 as STDOUT,0 as NSTDOUT,
0 as STDIN,0 as NSTDIN, 1 as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
, CityCode AS CityCode from dbrtgs..ICCheques 
Where cyc_no = 11 and return_cycle=13  and citycode like '%' + (select cast(citycode as char(2)) as citycode from city)  
Group by  h_Date,pay_bank,pay_branch,CityCode

---------- UPDATE OTHER CITY BRANCHES MERGE IN KHI MAIN BRANCH

---------------- dollar inward cleairng 
Union All

select h_Date as ProcessDate,pay_Bank as Bank ,pay_Branch as Branch,'26' as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN
, 0 as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,isnull(count(*),0) as totalin 
, CityCode AS CityCode from dbrtgs..Cheques 
Where  cyc_no=2  
Group by  h_Date,pay_Bank,pay_Branch,cyc_no,CityCode

---
Union All

---------------- dollar inward return

select h_Date as ProcessDate,pay_Bank as Bank ,pay_Branch as Branch,'26' as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN, 
isnull(count(*),0) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
, CityCode AS CityCode from dbrtgs..Cheques
Where  cyc_no=2 and return_cycle=4 
Group by  h_Date,pay_Bank,pay_Branch,cyc_no,CityCode



GO
/****** Object:  View [dbo].[vBillExtractreport]    Script Date: 8/24/2026 3:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [dbo].[vBillExtractreport]

AS

Select h_date as Processdate,bank,branch,cyc_no as cycle,0 as STDOUT,
0 as NSTDOUT,0 as STDIN,
0 as NSTDIN,isnull(sum(RTN),0) as RTN,0 as Fake,
0 as HeadItems,isnull(sum(totalout),0)  as TotalOut,
isnull(sum(totalin),0)  as TotalIn
, CityCode AS CityCode from vBillreport 
Group by  h_date,bank,branch,cyc_no,CityCode



GO
