USE [DBBilling]
GO
/****** Object:  View [dbo].[vBillIntercity]    Script Date: 8/24/2026 3:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vBillIntercity]
AS

------------------------- Outward Clearing

--select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,cyc_no as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN, 0 as RTN,0 as Fake,0 as HeadITEMs,count(*) as totalout,0 as totalin 
--, CityCode AS CityCode from DBINTERCITY..ICCheques Where  cyc_no=11 
--and citycode not in ('3040','4030')
--and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' 
--Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode

SELECT 
    a.h_Date AS ProcessDate,
    a.send_Bank AS Bank,
    a.Send_Branch AS Branch,
    a.cyc_no AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    0 AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    COUNT(*) AS totalout,
    0 AS totalin,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICCheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS varchar(10)) + '%'
WHERE a.cyc_no = 11
  AND a.CityCode NOT IN ('3040','4030')
GROUP BY
    a.h_Date,
    a.send_Bank,
    a.Send_Branch,
    a.cyc_no,
    c.CityCode
ORDER BY
    c.CityCode,
    a.h_Date,
    a.send_Bank,
    a.Send_Branch

Union All


/* For  Intercity Clearing Returns*/

--select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,cyc_no as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN, count(*) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
--, CityCode AS CityCode from dbrtgs..ICCheques Where  return_cycle=13 
--and citycode not in ('3040','4030')
--and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode

SELECT 
    a.h_Date AS ProcessDate,
    a.send_Bank AS Bank,
    a.Send_Branch AS Branch,
    a.cyc_no AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    COUNT(*) AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS totalout,
    0 AS totalin,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICCheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS varchar(10)) + '%'
WHERE a.return_cycle = 13
  AND a.CityCode NOT IN ('3040','4030')
GROUP BY
    a.h_Date,
    a.send_Bank,
    a.Send_Branch,
    a.cyc_no,
    c.CityCode
ORDER BY
    c.CityCode,
    a.h_Date,
    a.send_Bank,
    a.Send_Branch

Union All

-------working start here

--select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,24 as Cycle,0 as STDOUT,
--0 as NSTDOUT,0 as STDIN,0 as NSTDIN,0 as RTN,0 as Fake,0 as HeadITEMs,
--count(*) as totalout,0 as totalin 
--, CityCode AS CityCode from dbrtgs..ICCheques Where  cyc_no=11 and citycode in ('3040')
--and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' 
--Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode


SELECT 
    a.h_Date AS ProcessDate,
    a.send_Bank AS Bank,
    a.Send_Branch AS Branch,
    24 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    0 AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    COUNT(*) AS totalout,
    0 AS totalin,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICCheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS varchar(10)) + '%'
WHERE a.cyc_no = 11
  AND a.CityCode IN ('3040')
GROUP BY
    a.h_Date,
    a.send_Bank,
    a.Send_Branch,
    c.CityCode
ORDER BY
    c.CityCode,
    a.h_Date,
    a.send_Bank,
    a.Send_Branch
	

Union All

--select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,24 as Cycle,0 as STDOUT,
--0 as NSTDOUT,0 as STDIN,0 as NSTDIN, count(*) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
--, CityCode AS CityCode from dbrtgs..ICCheques Where  return_cycle=13 and citycode in ('3040')
--and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' 
--Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode

SELECT 
    a.h_Date AS ProcessDate,
    a.send_Bank AS Bank,
    a.Send_Branch AS Branch,
    24 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    COUNT(*) AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS totalout,
    0 AS totalin,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICCheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS varchar(10)) + '%'
WHERE a.return_cycle = 13
  AND a.CityCode IN ('3040')
GROUP BY
    a.h_Date,
    a.send_Bank,
    a.Send_Branch,
    c.CityCode
ORDER BY
    c.CityCode,
    a.h_Date,
    a.send_Bank,
    a.Send_Branch

Union All


--select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,24 as Cycle,0 as STDOUT,
--0 as NSTDOUT,0 as STDIN,0 as NSTDIN,0 as RTN,0 as Fake,0 as HeadITEMs,
--count(*) as totalout,0 as totalin 
--, CityCode AS CityCode from dbrtgs..ICCheques Where  cyc_no=11 and citycode in ('4030')
--and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' 
--Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode

SELECT 
    a.h_Date AS ProcessDate,
    a.send_Bank AS Bank,
    a.Send_Branch AS Branch,
    24 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    0 AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    COUNT(*) AS totalout,
    0 AS totalin,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICCheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS VARCHAR(10)) + '%'
WHERE a.cyc_no = 11
  AND a.CityCode IN ('4030')
GROUP BY
    a.h_Date,
    a.send_Bank,
    a.Send_Branch,
    c.CityCode
ORDER BY
    c.CityCode,
    a.h_Date,
    a.send_Bank,
    a.Send_Branch
	   
Union All

--select h_Date as ProcessDate,send_Bank as Bank ,Send_Branch as Branch,24 as Cycle,0 as STDOUT,
--0 as NSTDOUT,0 as STDIN,0 as NSTDIN, count(*) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
--, CityCode AS CityCode from dbrtgs..ICCheques Where  return_cycle=13 and citycode in ('4030')
--and citycode like (select cast(citycode as char(2)) as citycode from city) + '%' 
--Group by  h_Date,send_Bank,Send_Branch,cyc_no,CityCode

SELECT 
    a.h_Date AS ProcessDate,
    a.send_Bank AS Bank,
    a.Send_Branch AS Branch,
    24 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    COUNT(*) AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS totalout,
    0 AS totalin,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICCheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS VARCHAR(10)) + '%'
WHERE a.return_cycle = 13
  AND a.CityCode IN ('4030')
GROUP BY
    a.h_Date,
    a.send_Bank,
    a.Send_Branch,
    c.CityCode
ORDER BY
    c.CityCode,
    a.h_Date,
    a.send_Bank,
    a.Send_Branch;


Union All

--**** For Headers Count
--Select h_Date,send_Bank,send_Branch,cyc_no,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN,0 as RTN,0 as Fake,isnull(count(headerid),0) as HeadItems,0 as TotalOut,0 as TotalIn  , CityCode AS CityCode from dbrtgs..ICHeaders
--where  cyc_no=11 and citycode like (select cast(citycode as char(2)) as citycode from city) + '%'  Group by  h_Date,send_Bank,send_Branch,cyc_no ,CityCode

SELECT 
    a.h_Date AS ProcessDate,
    a.send_Bank AS Bank,
    a.send_Branch AS Branch,
    a.cyc_no AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    0 AS RTN,
    0 AS Fake,
    ISNULL(COUNT(a.headerid), 0) AS HeadItems,
    0 AS TotalOut,
    0 AS TotalIn,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICHeaders a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS VARCHAR(10)) + '%'
WHERE a.cyc_no = 11
GROUP BY
    a.h_Date,
    a.send_Bank,
    a.send_Branch,
    a.cyc_no,
    c.CityCode
ORDER BY
    c.CityCode,
    a.h_Date,
    a.send_Bank,
    a.send_Branch

------------------------------ Inward Clearing
Union All

--select h_Date as ProcessDate,pay_bank as Bank ,pay_branch as Branch,'12' as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN, 0 as RTN,0 as Fake,0 as HeadITEMs,count(*) as totalout,0 as totalin 
--, CityCode AS CityCode from dbrtgs..ICCheques Where  cyc_no=11 and citycode like '%' + (select cast(citycode as char(2)) as citycode from city)  Group by  h_Date,pay_bank,pay_branch,cyc_no,CityCode

SELECT 
    a.h_Date AS ProcessDate,
    a.pay_bank AS Bank,
    a.pay_branch AS Branch,
    12 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    0 AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    COUNT(*) AS totalout,
    0 AS totalin,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICCheques a
INNER JOIN city c
    ON a.CityCode LIKE '%' + CAST(c.CityCode AS VARCHAR(10))
WHERE a.cyc_no = 11
GROUP BY
    a.h_Date,
    a.pay_bank,
    a.pay_branch,
    c.CityCode
ORDER BY
    c.CityCode,
    a.h_Date,
    a.pay_bank,
    a.pay_branch;

Union All


/* For  Intercity Clearing Returns*/

--select h_Date as ProcessDate,pay_bank as Bank ,pay_branch as Branch,'12' as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN, count(*) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
--, CityCode AS CityCode from dbrtgs..ICCheques Where  return_cycle=13 and citycode like '%' + (select cast(citycode as char(2)) as citycode from city)  Group by  h_Date,pay_bank,pay_branch,cyc_no,CityCode

SELECT 
    a.h_Date AS ProcessDate,
    a.pay_bank AS Bank,
    a.pay_branch AS Branch,
    12 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    COUNT(*) AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS totalout,
    0 AS totalin,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICCheques a
INNER JOIN city c
    ON a.CityCode LIKE '%' + CAST(c.CityCode AS VARCHAR(10))
WHERE a.return_cycle = 13
GROUP BY
    a.h_Date,
    a.pay_bank,
    a.pay_branch,
    c.CityCode
ORDER BY
    c.CityCode,
    a.h_Date,
    a.pay_bank,
    a.pay_branch;


GO
/****** Object:  View [dbo].[vBillExtractintercity]    Script Date: 8/24/2026 3:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vBillExtractintercity]
AS

--Query to Sum up the Data of Clearing Bill (vBillIntercity)
--Select Processdate,bank,branch,cycle,isnull(sum(STDOUT),0) as STDOUT,
--isnull(sum(NSTDOUT),0) as NSTDOUT,isnull(sum(STDIN),0) as STDIN,
--isnull(sum(NSTDIN),0) as NSTDIN,isnull(sum(RTN),0) as RTN,isnull(sum(fake),0) as Fake,
--isnull(sum(HeadItems),0) as HeadItems,isnull(sum(TotalOut),0) as TotalOut,
--isnull(sum(TotalIn),0) as TotalIn
--, CityCode AS CityCode from vBillIntercity Group by  Processdate,bank,branch,cycle,CityCode

SELECT 
    a.ProcessDate,
    a.Bank,
    a.Branch,
    a.Cycle,
    ISNULL(SUM(a.STDOUT), 0) AS STDOUT,
    ISNULL(SUM(a.NSTDOUT), 0) AS NSTDOUT,
    ISNULL(SUM(a.STDIN), 0) AS STDIN,
    ISNULL(SUM(a.NSTDIN), 0) AS NSTDIN,
    ISNULL(SUM(a.RTN), 0) AS RTN,
    ISNULL(SUM(a.Fake), 0) AS Fake,
    ISNULL(SUM(a.HeadItems), 0) AS HeadItems,
    ISNULL(SUM(a.TotalOut), 0) AS TotalOut,
    ISNULL(SUM(a.TotalIn), 0) AS TotalIn,
    c.CityCode AS CityCode
FROM vBillIntercity a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS VARCHAR(10)) + '%'
GROUP BY
    a.ProcessDate,
    a.Bank,
    a.Branch,
    a.Cycle,
    c.CityCode
ORDER BY
    c.CityCode,
    a.ProcessDate,
    a.Bank,
    a.Branch,
    a.Cycle;

GO
/****** Object:  View [dbo].[vbillreport]    Script Date: 8/24/2026 3:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[vbillreport]
AS


--select h_Date,Send_Bank as Bank,Send_Branch as Branch,22 as cyc_no,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN,
--isnull(count(*),0) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin 
--, CityCode AS CityCode from dbrtgs..cheques 
--Where cyc_no = 2 and return_cycle=4 
--Group by  h_Date,Send_Bank,Send_Branch,cyc_no,CityCode


--Union All

------------------------------ special outward return

--select h_Date,Send_Bank as Bank,Send_Branch as Branch,23 as cyc_no,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN,
--isnull(count(*),0) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin 
--, CityCode AS CityCode from dbrtgs..cheques 
--Where cyc_no in (2,31,32,33,34,35) and return_cycle in (4,41,42,43,44,45)
--Group by  h_Date,Send_Bank,Send_Branch,cyc_no,CityCode


--Union All

------------------------------ same day inward return

--select h_Date,Pay_Bank as Bank,Pay_Branch as Branch,27 as cyc_no,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN,
--isnull(count(*),0) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin 
--, CityCode AS CityCode from dbrtgs..cheques 
--Where cyc_no = 5 and return_cycle=7 
--Group by  h_Date,Pay_Bank,Pay_Branch,cyc_no,CityCode


--Union All
----------------------------- intercity inward clearing 

--select h_Date as ProcessDate,pay_bank as Bank ,pay_branch as Branch,'25' as Cycle,0 as STDOUT,0 as NSTDOUT,
--0 as STDIN,0 as NSTDIN, 0 as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,1 as totalin 
--, CityCode AS CityCode from dbrtgs..ICCheques 
--Where  cyc_no=11 and citycode like '%' + (select cast(citycode as char(2)) as citycode from city)  
--Group by  h_Date,pay_bank,pay_branch,cyc_no,CityCode


--Union All

----------------------------- intercity inward  return

--select h_Date as ProcessDate,pay_bank as Bank ,pay_branch as Branch,'25' as Cycle,0 as STDOUT,0 as NSTDOUT,
--0 as STDIN,0 as NSTDIN, 1 as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
--, CityCode AS CityCode from dbrtgs..ICCheques 
--Where cyc_no = 11 and return_cycle=13  and citycode like '%' + (select cast(citycode as char(2)) as citycode from city)  
--Group by  h_Date,pay_bank,pay_branch,CityCode

------------ UPDATE OTHER CITY BRANCHES MERGE IN KHI MAIN BRANCH

------------------ dollar inward cleairng 
--Union All

--select h_Date as ProcessDate,pay_Bank as Bank ,pay_Branch as Branch,'26' as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN
--, 0 as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,isnull(count(*),0) as totalin 
--, CityCode AS CityCode from dbrtgs..Cheques 
--Where  cyc_no=2  
--Group by  h_Date,pay_Bank,pay_Branch,cyc_no,CityCode

-----
--Union All

------------------ dollar inward return

--select h_Date as ProcessDate,pay_Bank as Bank ,pay_Branch as Branch,'26' as Cycle,0 as STDOUT,0 as NSTDOUT,0 as STDIN,0 as NSTDIN, 
--isnull(count(*),0) as RTN,0 as Fake,0 as HeadITEMs,0 as totalout,0 as totalin  
--, CityCode AS CityCode from dbrtgs..Cheques
--Where  cyc_no=2 and return_cycle=4 
--Group by  h_Date,pay_Bank,pay_Branch,cyc_no,CityCode

/* =========================================================
   NORMAL OUTWARD RETURN
   Cycle = 22
   ========================================================= */

SELECT 
    a.h_Date AS ProcessDate,
    a.Send_Bank AS Bank,
    a.Send_Branch AS Branch,
    22 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    ISNULL(COUNT(*), 0) AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS TotalOut,
    0 AS TotalIn,
    c.CityCode AS CityCode
FROM DBCLEARING..cheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS VARCHAR(10)) + '%'
WHERE a.cyc_no = 2
  AND a.return_cycle = 4
GROUP BY
    a.h_Date,
    a.Send_Bank,
    a.Send_Branch,
    c.CityCode


UNION ALL


/* =========================================================
   SPECIAL OUTWARD RETURN
   Cycle = 23
   ========================================================= */

SELECT 
    a.h_Date AS ProcessDate,
    a.Send_Bank AS Bank,
    a.Send_Branch AS Branch,
    23 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    ISNULL(COUNT(*), 0) AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS TotalOut,
    0 AS TotalIn,
    c.CityCode AS CityCode
FROM DBCLEARING..cheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS VARCHAR(10)) + '%'
WHERE a.cyc_no IN (2,31,32,33,34,35)
  AND a.return_cycle IN (4,41,42,43,44,45)
GROUP BY
    a.h_Date,
    a.Send_Bank,
    a.Send_Branch,
    c.CityCode


UNION ALL


/* =========================================================
   SAME DAY INWARD RETURN
   Cycle = 27
   ========================================================= */

SELECT 
    a.h_Date AS ProcessDate,
    a.Pay_Bank AS Bank,
    a.Pay_Branch AS Branch,
    27 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    ISNULL(COUNT(*), 0) AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS TotalOut,
    0 AS TotalIn,
    c.CityCode AS CityCode
FROM DBCLEARING..cheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS VARCHAR(10)) + '%'
WHERE a.cyc_no = 5
  AND a.return_cycle = 7
GROUP BY
    a.h_Date,
    a.Pay_Bank,
    a.Pay_Branch,
    c.CityCode


UNION ALL


/* =========================================================
   INTERCITY INWARD CLEARING
   Cycle = 25
   Paying side - suffix CityCode matching
   ========================================================= */

SELECT 
    a.h_Date AS ProcessDate,
    a.pay_bank AS Bank,
    a.pay_branch AS Branch,
    25 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    0 AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS TotalOut,
    1 AS TotalIn,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICCheques a
INNER JOIN city c
    ON a.CityCode LIKE '%' + CAST(c.CityCode AS VARCHAR(10))
WHERE a.cyc_no = 11
GROUP BY
    a.h_Date,
    a.pay_bank,
    a.pay_branch,
    c.CityCode


UNION ALL


/* =========================================================
   INTERCITY INWARD RETURN
   Cycle = 25
   ========================================================= */

SELECT 
    a.h_Date AS ProcessDate,
    a.pay_bank AS Bank,
    a.pay_branch AS Branch,
    25 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    1 AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS TotalOut,
    0 AS TotalIn,
    c.CityCode AS CityCode
FROM DBINTERCITY..ICCheques a
INNER JOIN city c
    ON a.CityCode LIKE '%' + CAST(c.CityCode AS VARCHAR(10))
WHERE a.cyc_no = 11
  AND a.return_cycle = 13
GROUP BY
    a.h_Date,
    a.pay_bank,
    a.pay_branch,
    c.CityCode


UNION ALL


/* =========================================================
   DOLLAR INWARD CLEARING
   Cycle = 26
   ========================================================= */

SELECT 
    a.h_Date AS ProcessDate,
    a.pay_Bank AS Bank,
    a.pay_Branch AS Branch,
    26 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    0 AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS TotalOut,
    ISNULL(COUNT(*), 0) AS TotalIn,
    c.CityCode AS CityCode
FROM DBCLEARING..Cheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS VARCHAR(10)) + '%'
WHERE a.cyc_no = 2
GROUP BY
    a.h_Date,
    a.pay_Bank,
    a.pay_Branch,
    c.CityCode


UNION ALL


/* =========================================================
   DOLLAR INWARD RETURN
   Cycle = 26
   ========================================================= */

SELECT 
    a.h_Date AS ProcessDate,
    a.pay_Bank AS Bank,
    a.pay_Branch AS Branch,
    26 AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    ISNULL(COUNT(*), 0) AS RTN,
    0 AS Fake,
    0 AS HeadITEMs,
    0 AS TotalOut,
    0 AS TotalIn,
    c.CityCode AS CityCode
FROM DBCLEARING..Cheques a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS VARCHAR(10)) + '%'
WHERE a.cyc_no = 2
  AND a.return_cycle = 4
GROUP BY
    a.h_Date,
    a.pay_Bank,
    a.pay_Branch,
    c.CityCode


GO
/****** Object:  View [dbo].[vBillExtractreport]    Script Date: 8/24/2026 3:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [dbo].[vBillExtractreport]

AS

--Select h_date as Processdate,bank,branch,cyc_no as cycle,0 as STDOUT,
--0 as NSTDOUT,0 as STDIN,
--0 as NSTDIN,isnull(sum(RTN),0) as RTN,0 as Fake,
--0 as HeadItems,isnull(sum(totalout),0)  as TotalOut,
--isnull(sum(totalin),0)  as TotalIn
--, CityCode AS CityCode from vBillreport 
--Group by  h_date,bank,branch,cyc_no,CityCode

SELECT 
    a.h_date AS ProcessDate,
    a.bank AS Bank,
    a.branch AS Branch,
    a.cyc_no AS Cycle,
    0 AS STDOUT,
    0 AS NSTDOUT,
    0 AS STDIN,
    0 AS NSTDIN,
    ISNULL(SUM(a.RTN), 0) AS RTN,
    0 AS Fake,
    0 AS HeadItems,
    ISNULL(SUM(a.totalout), 0) AS TotalOut,
    ISNULL(SUM(a.totalin), 0) AS TotalIn,
    c.CityCode AS CityCode
FROM vBillreport a
INNER JOIN city c
    ON a.CityCode LIKE CAST(c.CityCode AS VARCHAR(10)) + '%'
GROUP BY
    a.h_date,
    a.bank,
    a.branch,
    a.cyc_no,
    c.CityCode
ORDER BY
    c.CityCode,
    a.h_date,
    a.bank,
    a.branch,
    a.cyc_no

GO
